
//Test ${functionName}
METHOD ${functionName}() CLASS ${fonte}TestCase

	Local oResult := FWTestHelper():New()

${localVars}

${initProperties}

	oResult:activate()
	
	${functionsCall}

	oResult:AssertTrue( oResult:lOk, "" )
	oResult:deactivate()

Return oResult
