	
Return

METHOD SetUpClass() CLASS FunctionsTestCase
Return _Super:SetUpClass()

METHOD TearDownClass() CLASS FunctionsTestCase
	Local oResult := FWTestHelper():New()

    oResult:UTRestParam(oResult:aParam)
	DelClassIntf()
	
Return oResult