
//Test ${functionName}
METHOD ${functionName}() CLASS FunctionsTestCase

	Local oResult := FWTestHelper():New()

${localVars}

	oResult:activate()
	
	${functionsCall}

	oResult:AssertTrue( oResult:lOk, "" )
	oResult:deactivate()

Return oResult
